@import url('https://fonts.googleapis.com/css?family=Space+Mono');

html, body {
  padding: 5pt 0;
  margin: 0;
  background-color: #1a1a1d;
  font-family: 'Space Mono', monospace;
  color: #28B21E;
  font-size: 16pt;
}

.line {
  padding-left: 10pt;
  white-space: nowrap;
}

.msg-log {
  color: #CDD3EC;
}

.msg-success {
  color: #7BEF45;
}

.msg-warning {
  color: #DAB83F;
}

.msg-error {
  color: #D82424;
}

#cmd {
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

#cmd:active {
  width: auto;
}

#cmd:focus {
  outline: none;
}
